@import '~style/_import'

:local(.main),
:local(.wrapper),
:local(.content)
  display block
  z-index 1

:local(.title)
  box-shadow(2)
  x-large()
  position relative
  display block
  margin 0
  padding lines(1) 0
  text-align center
  color $primary-color-text
  background-color $primary-color-dark
  z-index 1000
