// Fonts
$font-sans = 'Roboto', sans-serif
$font-icon = 'FontAwesome'


// sizes
$screen-phone = 480px
$screen-tablet = 768px
$screen-desktop = 992px
$screen-lg-desktop = 1200px

$layout-max-width = $screen-desktop


// Colors (see more colors on _material-design.styl file)
$link-color =     $primary-text-color
$facebook-color = #3B5998
